html {
	height: 100%;
	position: relative;

}
body {
	font-family: @base-font;
	color: @base-color;
	background-color: @base-bg-color;
	line-height: @base-line-height;
	font-style: normal;
	font-weight: @base-font-weight;
	-webkit-font-smoothing: antialiased;
	height: 100%;

}

*,
*:before,
*:after {
	box-sizing: @base-box-model;
}