.fz(@fz, @lh:@fz) {
	.remFz(@fz);
	.lh(@lh, @fz);
}

.lh(@size, @base: 16) {
	line-height: round(unit(@size)/unit(@base), 3);
}

.remFz(@val: 16) {
	font-size: unit(@val, px); // for old ie
	font-size: round(unit(@val)/unit(@base-font-size, rem), 3);
}

.screen-xs-max(@rules) {
    @media (max-width: @screen-xs-max) { @rules(); }
}