// base variables
@base-font: 'Roboto', sans-serif;
@base-font-size: 16px;
@base-font-weight: 300;
@base-line-height: 1.2;
@base-color: #000;
@base-bg-color: #fff;
@base-box-model: border-box;

// color definitions
@blue: #1B72DA;
@blue-dark: #004CB4;

@screen-xs-max: 700px;
