<template>
  <div class="layout">
      <transition 
        name="fade" 
        mode="out-in">

        <div class="info-window"
          :class="[pointsList.length === 0 ? 'info-window--empty' : 'info-window--list']"
          key="list" 
          v-if="!point.latitude">

          <div v-if="pointsList.length === 0">
            <div class="info-window__title">Не&nbsp;добавлено ни&nbsp;одной точки</div>
            <div class="info-window__hint">Для добавления точки&nbsp;&mdash; кликнуть по&nbsp;карте</div>
          </div>

          <div  v-if="pointsList.length > 0" class="info-window__title">Добавленные точки</div>
          <vue-scrollbar classes="my-scrollbar" ref="Scrollbar" v-if="pointsList.length > 0">

            <div class="list">

              <div class="list__item" 
                :class="{'list__item--active': point.id === item.id}"
                v-for="item, index in pointsList" 
                @click.stop="pointSelection(item.id)">

                <div class="list__item-tools">
                  <div @click.stop="removePoint(item.id)">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-trash-icon"></use>
                    </svg>  
                  </div>
                  <div @click.stop="pointSelection(item.id)">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-pencil-icon"></use>
                    </svg>
                  </div>
                </div>
                <div class="list__item-title">{{ item.title }}</div>
                <div class="list__item-description">{{ item.description }}</div>
              </div>
            </div>

          </vue-scrollbar>

        </div>

        <div class="info-window info-window--form" 
          key="form"
          v-else>
          <div class="info-window__close"
            @click="editFlag? editPointInfo() : stopCreating()">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-close-icon"></use>
            </svg>
          </div>
          <div class="info-window__title">{{ editFlag ? 'Редактирование' : 'Ввод данных' }}</div>

          <form class="form">
            <input class="form__input" 
              type="text"
              name="title"
              placeholder="Title"
              v-model="point.title">

            <input class="form__input"
              type="text"
              name="description"
              placeholder="Description"
              v-model="point.description">

            <a href="#" class="button"
              type="submit"
              name="submit"
              @click.prevent="editFlag?editPointInfo() : addMarkOnMap()">{{ editFlag ? 'редактировать' : 'добавить' }}</a>
              
              <a href="#"
                class="button button--filled"
                @click.prevent="removePoint()"
                v-if="editFlag">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-trash-icon"></use>
                  </svg>
                </a>
              
          </form>
          
        </div>
      </transition>

    
    <gmap-map class="map-container" 
      @click="getPointCoords($event.latLng.lat(), $event.latLng.lng())" 
      :center="{ lat: 56.838336722778585, lng: 60.6035233660988 }" 
      :zoom="16">

      <gmap-marker 
        @click="pointSelection(item.id)"
        v-for="item, index in pointsList" 
        :key="index"
        :position="{lat: +item.latitude, lng: +item.longitude}" 
        :icon="{url: '../../static/marker.png'}">
      </gmap-marker>

      <gmap-marker 
        v-if="point && point.latitude"
        :position="{lat: point.latitude, lng: point.longitude}"
        :icon="{url: '../../static/marker-active.png'}">
      </gmap-marker>
    </gmap-map>  
  </div>
</template>

<script>

  import VueScrollbar from 'vue2-scrollbar';
  require("../less/vue2-scrollbar.css")

export default {


  name: 'Map',
  components: { VueScrollbar },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      point:{
        title: null,
        description: null,
        latitude: null,
        longitude: null,
        id: null
      },
      editFlag: null
    
    }
  },
  props:{
    pointsList: null
  },
  methods:{
    addMarkOnMap(){

      let {title, description, latitude, longitude, id} = this.point;
      this.$emit('addMarkOnMap', {title, description, latitude, longitude, id});
      
      for (var key in this.point) {
        this.point[key] = '';
      }


    },
    stopCreating(){
      for (var key in this.point) {
        this.point[key] = '';
      }
    },
    getPointCoords(lat, lng){

      this.point.latitude = lat
      this.point.longitude = lng
      this.point.id = Date.now();
    },
    pointSelection(id){
      const index = _.findKey(this.pointsList, function(n) { return n.id === id; })
      this.point = this.pointsList[index];
      this.editFlag = index
    },
    removePoint(id){

      if(!this.editFlag){
        this.editFlag = _.findKey(this.pointsList, function(n) { return n.id === id; })
      }

      this.$emit('removePoint', this.editFlag);

      for (var key in this.point) {
        this.point[key] = '';
      }
    },
    editPointInfo(){

      let {title, description, latitude, longitude, id} = this.point;

      this.$emit('editPointInfo', this.editFlag, {title, description, latitude, longitude, id});
      this.editFlag = null

      for (var key in this.point) {
        this.point[key] = '';
      }
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='less' scoped>

@import "../less/variables.less";
@import "../less/mixin.less";



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
  .map-container {
    width: 100%;
    height: 100%;
   
  }

  .layout{
    position: relative;
    height: 100%;
  }

  .info-window{
    position: absolute;
    background-color: #fff;
    width: 300px;
    max-height: 400px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    // padding-top: 30px;

    .screen-xs-max({
      top: auto;
      bottom: 30px;
      transform: translate( -50%, 0);
      left: 50%;
      max-height: 300px;



    });

    &--form{
      padding: 30px;

    }
    &--empty{
      padding: 30px 20px;
    }

    &--list{
      padding: 0;

      .info-window__title{
        padding: 30px 0;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
        margin: 0;
        position: relative;
        z-index: 1;

      }
    }

    &__title{
      .fz(16, 24);
      margin-bottom: 0.5em;
    }

    &__hint{
      .fz(12, 18);
      color: #666;
    }

    &__close{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      &:hover svg{
        fill: darken(@blue, 15%);
      }

      svg{
        width: 30px;
        height: 30px;
        fill: @blue;
        trnsition: fill .3s;
      }
    }
  }

  .form{
    height: 100%;
    

    &__input{
      display: block;
      border: none;
      background: #fff;
      border-bottom: 1px solid #d4d4d4;
      width: 100%;
      height: 42px;
      outline: none;
      transition: border-color .3s;
      .fz(14);
      margin-bottom: 20px;
      border-radius: 0;

      // & + &{
      //   margin-top: 20px;
      // }

      &:focus{
        border-color: darken(#d4d4d4, 20%);
      }
    }
  }

  .button{
    border: 1px solid @blue;
    background-color: #fff;
    width: 100%;
    .fz(14);
    line-height: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    color: @blue;
    text-transform: uppercase;
    position: relative;

    & + &{
      margin-top: 20px;
    }

    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
      fill: fade(#fff, 70%);
      transition: fill .3;
    }

    &:hover{
      background-color: @blue;
      color: #fff;
    }
    &:hover svg{
      fill: #fff;
    }

    &:active{
      background-color: darken(@blue, 15%);
    }

    &--filled{
      background-color: @blue;

      &:hover{
        background-color: darken(@blue, 15%);
      }

    }
  }
  .list{
    // border-top: 1px solid #d4d4d4;

    &__item{
      display: block;
      padding: 15px;
      border-bottom: 1px solid #d4d4d4;
      position: relative;
      padding-left: 50px;
      padding-right: 20px;
      cursor: pointer;
      text-align: left;
      transition: border-color .3s, background-color .3s;
      min-height: 90px;

      &--active{
        background-color: #f5f5f5;

      }

      &:hover{
        background-color: #f5f5f5;
        // border-color: darken(#d4d4d4, 15%);
        box-shadow: 0 1px 3px #d4d4d4;
      }

      &:last-child{
        // border-bottom: none;
      }

      &-title{
        .fz(20, 32);
        max-height: 1.6em;
        overflow: hidden;
      }

      &-description{
        .fz(14, 21);
        max-height: 3rem;
        overflow: hidden;

      }

      &-tools{
        position: absolute;
        left: 10px;
        top: 15px;
        display: flex;
        flex-direction: column;


        svg{
          width: 30px;
          height: 30px;
          fill: @blue;
          trnsition: fill .3s;

          &:hover{
            fill: darken(@blue, 15%);
          }
        }
      }
    }
  }

.my-scrollbar{
  width: 35%;
  min-width: 300px;
  max-height: 310px;
    // margin-top: 30px;

    .screen-xs-max({
      max-height: 300px;

    });

}
 

 

</style>
