<template>
  <div id="app">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="ei-sprite" style="display:none">
      <symbol id="ei-pencil-icon" viewBox="0 0 50 50">
        <path d="M9.6 40.4l2.5-9.9L27 15.6l7.4 7.4-14.9 14.9-9.9 2.5zm4.3-8.9l-1.5 6.1 6.1-1.5L31.6 23 27 18.4 13.9 31.5z"></path>
        <path d="M17.8 37.3c-.6-2.5-2.6-4.5-5.1-5.1l.5-1.9c3.2.8 5.7 3.3 6.5 6.5l-1.9.5z"></path>
        <path d="M29.298 19.287l1.414 1.414-13.01 13.02-1.414-1.41z"></path>
        <path d="M11 39l2.9-.7c-.3-1.1-1.1-1.9-2.2-2.2L11 39z"></path>
        <path d="M35 22.4L27.6 15l3-3 .5.1c3.6.5 6.4 3.3 6.9 6.9l.1.5-3.1 2.9zM30.4 15l4.6 4.6.9-.9c-.5-2.3-2.3-4.1-4.6-4.6l-.9.9z"></path>
      </symbol>
      <symbol id="ei-trash-icon" viewBox="0 0 50 50">
        <path d="M20 18h2v16h-2z"></path>
        <path d="M24 18h2v16h-2z"></path>
        <path d="M28 18h2v16h-2z"></path>
        <path d="M12 12h26v2H12z"></path>
        <path d="M30 12h-2v-1c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v1h-2v-1c0-1.7 1.3-3 3-3h4c1.7 0 3 1.3 3 3v1z"></path>
        <path d="M31 40H19c-1.6 0-3-1.3-3.2-2.9l-1.8-24 2-.2 1.8 24c0 .6.6 1.1 1.2 1.1h12c.6 0 1.1-.5 1.2-1.1l1.8-24 2 .2-1.8 24C34 38.7 32.6 40 31 40z"></path>
      </symbol>
      <symbol id="ei-close-icon" viewBox="0 0 50 50">
        <path d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"></path>
        <path d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"></path>
      </symbol>
   </svg>
    <Map
      :pointsList='pointsList'

      @getPointCoords='getPointCoords'
      @addMarkOnMap='addMarkOnMap'
      @editPointInfo='editPointInfo'
      @removePoint='removePoint'
    ></Map>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import Map from './components/Map'
import ScrollBar from 'vue2-scrollbar'


export default {
  name: 'App',
  components: {
    Map
  },
  data(){
    return {
      removePointIndex: null,
     
      pointsList: []
    }
  },
  methods:{
    getPointCoords(lat, lng){

      this.point.latitude = lat;
      this.point.longitude = lng;
      this.point.id = Date.now();
    },
    removePoint(index){

      this.pointsList.splice(index, 1);
      localStorage.setItem('pointsList',  JSON.stringify(this.pointsList));

    },


    editPointInfo(index, point){

      this.pointsList[index] = point

    },

    addMarkOnMap(point){
      this.pointsList.push(point)
      localStorage.setItem('pointsList',  JSON.stringify(this.pointsList));

    },

    getPointsFromLS(){

      const localPointsList = localStorage.getItem('pointsList')

      if(localPointsList){
        this.pointsList = JSON.parse(localPointsList);
      }
    }
  },

  mounted(){
    this.getPointsFromLS()
  }
}
</script>

<style lang='less'>

@import "./less/style";
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
</style>
